<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Home Service Management System</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' ">

    <!-- Vendor CSS Files -->
    <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    

    <!-- Template Main CSS File -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

</head>

<body class="banner-bg">
    <section class="register_form">
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3 register_card">
                    <h4 class="text-center pt-4">REGISTER NOW</h4>
                    <form action="/signup" method="POST" enctype="multipart/form-data">
                        {%csrf_token%}
                        <div>
                            <input type="text"   class="form-control input_box" name="username" placeholder="Username">
                        </div>
                        <div>
                            <input type="text" class="form-control input_box mt-3" name="fname" placeholder="FirstName">
                        </div>
                        <div>
                            <input type="text" class="form-control input_box mt-3" name="lname" placeholder="LastName">
                        </div>
                        <div>
                            <input type="email" class="form-control input_box mt-3" name="email" placeholder="Email">
                        </div>
                        <div>
                            <input type="text" class="form-control input_box mt-3" name="number" placeholder="Contact">
                        </div>
                        <div>
                            <input type="password" class="form-control input_box mt-3" name="password" placeholder="Password">
                        </div>
                        <div>
                            <input type="password" class="form-control input_box mt-3" name="rePass" placeholder="Confirm Password">
                        </div>
                        <div>
                            <input type="file" class="form-control input_box mt-3" name="img" placeholder="Uplaod Image">
                        </div>
                        <input type="submit" value="Register" class="mx-auto d-block mt-3 btn-register">

                    </form>
                </div>
            </div>
        </div>
    </section>